@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media print {
  body * {
    visibility: hidden !important;
  }
  #resume-preview, #resume-preview * {
    visibility: visible !important;
  }
  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: white !important;
  }
}
